/* variables */
:root {
    --primary-color: #055a05;
    --secondary-color: #f4a261;
    --accent1-color: #264653;
    --accent2-color: #b22222;
    --heading-font: "Times New Roman", "Georgia", "Serif";
    --body-font: Arial, Helvetica, sans-Serif;

    --light-color: #ffffff;
    --border-color: #cccccc;
}

/* global reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

/* header area */
header {
    display: grid;
    grid-template-columns: 150px 1fr;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
}

header img {
    display: block;
    width: 120px;
    height: auto;
}

/* navigation area */
nav {
    margin: 0;
}

nav ul {
    display: flex;
    list-style: none;
}

nav li {
    flex: 1;
}

nav a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: var(--accent1-color);
    padding: 0.75rem 1rem;
    border: 1px solid var(--border-color);
}

nav a:hover {
    color: var(--secondary-color);
}

/* content spacing */
nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

/* hero */
.hero {
    position: relative;
    text-align: center;
    /* Align centre */
    color: var(--light-color);
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: var(--light-color);
}

/* TODO Style the article image using absolute positioning and a style of your choice */
.hero article {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    background-color: rgba(38, 70, 83, 0.85);
    columns: var(--accent1-color);
    padding: 15px;
    text-align: left;
}

.hero article img {
    float: right;
    width: 125px;
}

/* history */
.history {
    display: grid;
    grid-template-columns: 1fr 250px 1fr;
    align-items: center;
    gap: 1rem;
}

.history h2 {
    grid-column: 1 / 4;
}

.history img {
    width: 100%;
}

/* adventures section */
.adventures {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    text-align: center;
}

.adventures h2 {
    grid-column: 1 / 6;
}

.adventures img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

/* Headings for sections */
section h2 {
    background-color: var(--accent1-color);
    color: var(--light-color);
    text-align: center;
    padding: 12px;
    margin-bottom: 15px;
}

/* Footer area */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

footer p {
    align-items: center;
}

.socialmedia {
    display: flex;
    gap: 1rem;
}

.socialmedia a {
    color: var(--accent2-color);
    text-decoration: none;
}

.socialmedia img {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    margin-right: 10px;
}

/* Other */
hr {
    border: 0;
    height: 1px;
    background-color: var(--accent1-color);
    margin: 20px auto 10px auto;
    width: 840px;
}